@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";

$prefix:lp-;
$font-family-sans-serif: 'Gilroy',system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$blue:#0C1E3B;
$body-color:$blue;
$secondary:#8CC63F;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
//@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
//@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
//@import "../../node_modules/bootstrap/scss/nav";
//@import "../../node_modules/bootstrap/scss/navbar";
//@import "../../node_modules/bootstrap/scss/card";
//@import "../../node_modules/bootstrap/scss/accordion";
//@import "../../node_modules/bootstrap/scss/breadcrumb";
//@import "../../node_modules/bootstrap/scss/pagination";
//@import "../../node_modules/bootstrap/scss/badge";
//@import "../../node_modules/bootstrap/scss/alert";
//@import "../../node_modules/bootstrap/scss/progress";
//@import "../../node_modules/bootstrap/scss/list-group";
//@import "../../node_modules/bootstrap/scss/close";
//@import "../../node_modules/bootstrap/scss/toasts";
//@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

.main-bg, .secondary-bg{
    background-image: url(/src/images/main-bg-m.webp);
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
    @include media-breakpoint-up(lg) { 
        background-image: url(/src/images/main-bg.webp);
    }
}
.min-dvh-100 {
    min-height: 100dvh;
}
.secondary-bg {
    background-image: url(/src/images/secondary-bg-m.webp);
    @include media-breakpoint-up(lg) { 
        background-image: url(/src/images/secondary-bg.webp);
    }
}
.main-content {
    @include media-breakpoint-up(lg) { 
        align-items: center;
        min-height: 100vh;
    }
}
header {
    position: relative;
    @include media-breakpoint-up(lg) { 
        position: absolute;
    }
    img {
        max-width: 18rem;
        width: 100%;
        @include media-breakpoint-up(lg) { 
            max-width: 30rem;
        }
    }
}
.qr-code {
    max-width: 12rem;
    background-color: white;
    padding: 0.5rem;
    border: #8CC63F solid 1px;
    position: absolute;
    top: 1rem;
    right: 3rem;
    img{
        max-width: 100%;
    }
    @include media-breakpoint-down(lg) { 
        display: none;
     }
     p{
        position: absolute;
        bottom: -34px;        
        text-align: center;
        font-weight: 700;
        margin: 0;
        width: 100%;
        font-size: 1.25rem;
        left: 0;
    }
}
.btn-outline-primary {
    --lp-btn-bg:white;
}
.btn-lg {
    @include media-breakpoint-up(lg) { 
        --lp-btn-font-size:2.2rem;
     }
}